.login,
.newUser {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 98%;
  justify-content: center;
  align-items: center;
  color: var(--color-zero);
  font-weight: bolder;
}

.link{
  color: var(--color-one);
  text-decoration: none;
}

h1 {
  font-size: larger;
  color: var(--color-zero);
  font-weight: bolder;
}

.formContainer{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 500px;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
  border: 1px solid var(--color-one);
  background-color: var(--color-four);
  max-width: 350px;
}

.formContainer button,
.formContainer input {
  background-color: var(--color-five);
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  color: var(--cor-um);
  text-align: center;
}


::placeholder {
  color: var(--color-one);
}
